/* DocumentsTable.css */
.table-container {
  width: calc(100vw - 250px); 
  overflow-x: auto; 
  overflow-y: auto;
  margin-bottom: 20px; 
  float: left; 
}

table {
  border-collapse: collapse;
  color: #0e0d0d; 
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid black; 
  padding: 8px; 
}

th {
  background-color: #DFB868; 
  position: sticky;
  top: 0;
  z-index: 10; 
}
/* Style pour améliorer l'apparence du tableau sur les petits écrans */
@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: scroll;
  }
}
