   .sidebar {
    position: fixed; /* Fixe la position de la sidebar */
    top: 0; /* Alignement en haut de la page */
    left: 0; /* Alignement à gauche de la page */
    width: 250px; /* Largeur de la sidebar */
    height: 100%; /* Hauteur de la sidebar */
    overflow-y: auto; /* Ajoute un défilement si le contenu est plus long que la fenêtre */
    background-color: #f5f5f5;
    
  }
  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidebar-profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-nav-item {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
  }
  
  .sidebar-nav-item:hover {
    background-color: #e0e0e0;
  }
/* Style commun pour les rectangles des composants */
.component-rectangle {
    background-color: #DFB868;
    padding: 10px;
    margin: 5px 0;
    border-radius: 0px;
    display: flex;
    align-items: center;
  }
  
  /* Style pour les icônes */
  .component-icon {
    width: 24px;
    height: auto;
  }